body {
    background: url(/imagens/fundositeteste.png) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-navbar {
    background-color: #504b43;
}

.custom-menu-button {
    background-color: white;
}