body {
    background: url("/imagens/fundositeteste.png") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-navbar {
    background-color: #504b43;
}

.custom-menu-button {
    background-color: white;
}

.nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: background .5s;
}

.nav-link:hover {
    color: black;
    background-color: #77ad78;
}

.navbar-brand:hover {
    text-decoration: underline;
    text-decoration-color: #77ad78;
}

.banner {
    background: linear-gradient(97.54deg, #034b2290 35.49%, #4b865990 165.37%);
    color: white;
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 36px;
    font-weight: 700;
}

.banner__texto {
    text-align: center;
}

.img-carrossel {
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    bottom: -2%;
    transform: translateY(0);
    color: #464968;
  }

.txt-slide {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    text-align: justify;
    border: 2px solid #4b8659;
    border-radius: 15px;
    max-height: 371px;
}

.txt-slide {
    font-size: 110%;
}

.banner2 {
    color: white
}